@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Light.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 350;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-DemiLight.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Regular.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Medium.woff2') format("woff2");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR'), 
      url('./webfont/NotoSans-Bold.woff2') format("woff2");
}

@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Regular'), url('./webfont/OpenSans-Regular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('./webfont/OpenSans-Regular.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Italic'), url('./webfont/OpenSans-Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light'), url('./webfont/OpenSans-Light.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light Italic'), url('./webfont/OpenSans-LightItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans SemiBold'), url('./webfont/OpenSans-SemiBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans SemiBold Italic'), url('./webfont/OpenSans-SemiBoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Bold'), url('./webfont/OpenSans-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Bold Italic'), url('./webfont/OpenSans-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans ExtraBold'), url('./webfont/OpenSans-ExtraBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans ExtraBold Italic'), url('./webfont/OpenSans-ExtraBoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Light Regular'), url('./webfont/OpenSans-Light-webfont.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Open Sans Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans Condensed Bold'), url('./webfont/OpenSans-CondBold.woff') format('woff');
  }
html:not(.touchmode) ::-webkit-scrollbar {width: 10px;}
html:not(.touchmode) ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
html:not(.touchmode) ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
.page_wrap{position:relative;min-width:280px;font-family: 'Noto Sans KR';overflow-x:hidden;}
.page_wrap img{max-width:100%;}
.hdtext{display:inline-block;width:0;height:0;overflow:hidden;line-height:0;color:transparent;position:absolute;top:0;left:-99999px;}
body{background:#fff;}


/* layout */
.header_wrap{}
.header_main_row{border-bottom:1px solid #c8c8c8;}
.header_main_row .header_pix{height:98px;display:flex;align-items: center;justify-content: space-between;}
.header_pix{max-width:1260px;margin:0 auto;position:relative;padding:0 30px;}
.header_logo,
.header_logolink{display:inline-block;}
.header_logolink img{max-width:272px;vertical-align: middle;}
.header_search_wrap{}
input.header_search_input{}
.btn_header_search{}
.header_gnb_row{}
.header_gnb_row .header_pix{}
.header_gnb_list{list-style: none;margin:0;padding:0;display:flex;height:70px;align-items: center;justify-content: center;text-align: center;}
.header_gnb_list > li{flex:1;}
.gnb_menu{}
.gnb_menu_text{}
.gnb_menu[class*="ico_"]{}
.gnb_menu[class*="ico_"]:before{}
.gnb_menu.ico_01:before{}
.gnb_menu.ico_02:before{}
.gnb_menu.ico_03:before{}
.gnb_menu.ico_04:before{}
li.active .gnb_menu,
.gnb_menu:hover{}
.btn_gnb_close{}
.btn_gnb_close:before{}
.btn_gnb_close:after{}
.btn_total_call{}
.total_call_in{}
.total_call_in:before{}
.total_call_in:after{}
.btn_mobile_menu_call{}
.btn_mobile_search_call{}

.middle_wrap{}
.footer_wrap{margin-top:83px;background:#f5f5f5;position:relative;}
.footer_pix{max-width:1260px;margin:0 auto;position:relative;padding:10px 30px 0;display:flex;align-items: center;min-height:80px;}
.footer_logo{flex:0 0 156px;display:block;font-size:0;line-height:0;}
.footer_logo img{vertical-align: top;}
.footer_copy{flex:1;margin:0 0 0 50px;padding:0;color:#5f5f5f;font-size:12px;  font-family: 'Open Sans','Noto Sans KR';}
.btn_gotop_wrap{position:absolute;top:-30px;right:30px;}
.btn_gotop{display:block;width:63px;height:63px;background:#b2b2b2;position:relative;}
.btn_gotop:after{display:block;content:'';width:20px;height:20px;border-top:2px solid #fff;border-left:2px solid #fff;transform: translateZ(0) rotate(45deg);position:absolute;top:27px;left:22px;}
@media (max-width:767px){

}
/* // layout */

/* contents */
.main_visual_row{background:url("../img/bg_mv.png") no-repeat 50% 50%/cover;height:500px;display:flex;justify-content: center;align-items: center;text-align: center;}
.mv_copy_group{max-width:1260px;margin:0 auto;position:relative;padding:0 30px;}
.mv_copy_sub{}
.mv_copy_main{}
.btn_mv_row{}
.btn_direct_go{}
.direct_go_text{}
.direct_go_text:after{}
.main_content_row{}
.mc_pix{max-width:1260px;margin:0 auto;position:relative;padding:0 30px;}
.mc_category_wrap{padding:70px 0;}
.mc_category_wrap .mc_pix{display:flex;padding:70px 30;}
.mc_category_design_obj{flex:0 0 22.66666666666667%;}
.mc_category_design_obj img{max-width:100%;}
.mc_category_cols{display:flex;align-items: center;}
.mc_category_list{list-style: none;margin:0;padding:0;display:flex;flex-wrap:wrap;}
.mc_category_list > li{flex: 0 0 33.333333333333%;}
.category_box{display:flex;flex-direction: column;justify-content: center;align-items: center;}
.category_main_copy{}
.category_sub_copy{}
.category_box.dtype2{}
.category_box.dtype2 .category_main_copy{}
.category_box.dtype2 .category_sub_copy{}
.category_box.dtype3{}
.category_box.dtype3 .category_main_copy{}
.category_box.dtype3 .category_sub_copy{}
.category_box.dtype4{}
.category_box.dtype4 .category_main_copy{}
.category_box.dtype4 .category_sub_copy{}
.category_box.dtype5{}
.category_box.dtype5 .category_main_copy{}
.category_box.dtype5 .category_sub_copy{}
.category_box.dtype6{}
.category_box.dtype6 .category_main_copy{}
.category_box.dtype6 .category_sub_copy{}

.dashboard_wrap{background:url("../img/bg_mcquick.png") no-repeat 50% 50%/cover;padding:80px 0;}
.section.dashboard{max-width:1260px;margin:0 auto !important;padding:0 30px;}
.section.dashboard > .row{margin:0;padding:0;}
.section.dashboard .col-lg-8{width:100%;margin:-14px;}
.section.dashboard .row .col-lg-8 .row{margin:0;padding:0;--bs-gutter-x:0;}
.section.dashboard .col-xxl-4{flex:0 0 25%;margin:14px;}
.section.dashboard .card{margin-bottom:0;padding-bottom:0;}
.section.dashboard .card.sales-card{}
.section.dashboard .card-body{}
.section.dashboard .card-title{}
.section.dashboard .d-flex{}
.section.dashboard .card-icon{}
.section.dashboard .card-icon .bi{}
.section.dashboard .ps-3{}
.section.dashboard .ps-3 h6{}

.section.dashboard .card.sales-card{}
.section.dashboard .card.sales-card .card-body{}
.section.dashboard .card.sales-card .card-title{}
.section.dashboard .card.sales-card .d-flex{}
.section.dashboard .card.sales-card .card-icon{}
.section.dashboard .card.sales-card .card-icon .bi{}
.section.dashboard .card.sales-card .ps-3{}
.section.dashboard .card.sales-card .ps-3 h6{}

.section.dashboard .card.revenue-card{}
.section.dashboard .card.revenue-card .card-body{}
.section.dashboard .card.revenue-card .card-title{}
.section.dashboard .card.revenue-card .d-flex{}
.section.dashboard .card.revenue-card .card-icon{}
.section.dashboard .card.revenue-card .card-icon .bi{}
.section.dashboard .card.revenue-card .ps-3{}
.section.dashboard .card.revenue-card .ps-3 h6{}

.section.dashboard .card.customers-card{}
.section.dashboard .card.customers-card .card-body{}
.section.dashboard .card.customers-card .card-title{}
.section.dashboard .card.customers-card .d-flex{}
.section.dashboard .card.customers-card .card-icon{}
.section.dashboard .card.customers-card .card-icon .bi{}
.section.dashboard .card.customers-card .ps-3{}
.section.dashboard .card.customers-card .ps-3 h6{}
@media (max-width:767px){

}
/* // contents */